# Venvs
.env/
.venv/
.venv
.env
scratch
.DS_Store


# Build
__pycache__/
*.egg-info

# Settings
.vscode/
/analysis/cache_dir/

wandb/
/data/
/outputs/
outputs
/datasets/
/datasets
/logs/
/outputs*/
/logs*/
