# Venvs
.env/
.venv/
.venv
.env
scratch
.DS_Store

!src/oocr_influence/datasets/synthetic_pretraining_docs/data/*.json

# Build
__pycache__/
*.egg-info

# Settings
.vscode/
/analysis/cache_dir/

wandb/
/data/
/outputs/
outputs
/datasets/
/logs/
/outputs*/
/logs*/
datasets
